<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<p-orderlist
  [value]="items()"
  [metaKeySelection]="false"
  [responsive]="true"
  [listStyle]="{ maxHeight: '100%' }"
  styleClass="w-full max-h-full"
  [dragdrop]="true"
  (onReorder)="onReorder()">
  @let _header = headerLabel();

  @if (_header) {
    <ng-template #header>
      <div class="font-semibold text-gray-500">{{ _header }}</div>
    </ng-template>
  }

  <ng-template #item let-listItem>
    <div
      (click)="onSelect(listItem)"
      class="flex flex-row gap-2 w-full items-center cursor-pointer sortable-item"
      [ngClass]="
        selectedItem()?.id === listItem.id ? 'sortable-item-active' : ''
      ">
      <span
        (click)="$event.stopPropagation()"
        pTooltip="Reorder"
        tooltipPosition="bottom"
        [tooltipOptions]="tooltipOptions"
        class="pi pi-bars cursor-move"></span>

      <div
        class="w-full text-ellipsis overflow-hidden whitespace-nowrap"
        [pTooltip]="listItem.label"
        tooltipPosition="bottom"
        [tooltipOptions]="tooltipOptions">
        {{ listItem.label }}
      </div>

      @if (!listItem.disableMore) {
        <div class="flex flex-row gap-2">
          <p-button
            icon="pi pi-ellipsis-v"
            pTooltip="More"
            tooltipPosition="bottom"
            [tooltipOptions]="tooltipOptions"
            [text]="true"
            (onClick)="onMore($event, menu)" />

          <p-menu
            #menu
            [model]="dynamicMenuItems()"
            [popup]="true"
            appendTo="body"
            (onShow)="showMoreMenu(listItem)">
          </p-menu>
        </div>
      }
    </div>
  </ng-template>

  <ng-template #empty>{{ emptyMessage() }}</ng-template>
</p-orderlist>
