<div class="flex gap-2 w-full h-full min-h-0">
  @let selectedFinding = findingStore$.current();

  <radio-sortable-list-manager-layout style="width: 15%">
    <ng-container actions>
      <p-button
        icon="pi pi-plus"
        pTooltip="Create Finding"
        tooltipPosition="bottom"
        [outlined]="true"
        (onClick)="onCreate()" />
    </ng-container>

    <radio-finding-manager-list
      list
      class="w-full"
      [findings]="findings()"
      [selectedFinding]="selectedFinding"
      (delete)="onDelete($event)"
      (clone)="onClone($event)"
      (reorder)="onReorder($event)"
      (changed)="onChange($event)">
    </radio-finding-manager-list>
  </radio-sortable-list-manager-layout>

  @let _mode = mode();

  @if (_mode) {
    <p-panel
      [showHeader]="false"
      class="w-full"
      styleClass="flex h-full min-h-0">
      @if (_mode === ChangeModes.Update && selectedFinding) {
        <radio-finding-manager-view
          class="flex h-full min-h-0 w-full"
          [finding]="selectedFinding"
          [mode]="ChangeModes.Update"
          (save)="onSave($event, ChangeModes.Update, selectedFinding)"
          (canceled)="onCancel()">
        </radio-finding-manager-view>
      } @else {
        <radio-finding-manager-view
          class="flex h-full min-h-0 w-full"
          [mode]="ChangeModes.Create"
          (save)="onSave($event, ChangeModes.Create)"
          (canceled)="onCancel()">
        </radio-finding-manager-view>
      }
    </p-panel>
  }
</div>

<p-confirmPopup />
