<radio-dialog-layout>
  <div class="flex flex-column gap-2" [formGroup]="formGroup" dialog-content>
    <label for="scopeName" class="font-semibold"> Name </label>

    <input
      pInputText
      id="scopeName"
      formControlName="name"
      class="flex-auto"
      autocomplete="off" />

    <small
      *ngIf="!formGroup.get('name')?.valid && formGroup.get('name')?.dirty"
      class="p-error">
      Name is required
    </small>
  </div>

  <ng-container class="flex justify-content-end" dialog-actions>
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (onClick)="close()" />

    <p-button
      label="Save"
      [outlined]="true"
      [disabled]="!formGroup.valid"
      severity="primary"
      (onClick)="save()" />
  </ng-container>
</radio-dialog-layout>
