@let _isLoading = isLoading();
@let _findingGroups = _isLoading ? mockFindingGroups : findingGroupList();

<div class="flex flex-col gap-1 w-full">
  @if (_findingGroups.length > 0) {
    <p-accordion
      class="flex flex-col"
      styleClass="w-full"
      [multiple]="true"
      [value]="[_findingGroups[0].id]">
      @for (findingGroup of _findingGroups; track findingGroup.id) {
        <p-accordionpanel [value]="findingGroup.id">
          <p-accordion-header>
            <div class="flex flex-row gap-2">
              <span class="content-center">{{ findingGroup.name }}</span>

              @if (findingGroup.info | editorHasValue) {
                <p-button
                  icon="pi pi-info-circle"
                  pTooltip="Info"
                  tooltipPosition="bottom"
                  [tooltipOptions]="tooltipOptions"
                  [text]="true"
                  [rounded]="true"
                  (onClick)="onGroupInfoClick($event, findingGroup)" />
              }
            </div>
          </p-accordion-header>

          <p-accordion-content>
            <div class="flex flex-row flex-wrap gap-2">
              @let unclassified =
                findingGroup.classifiers | findInArray: true : 'isDefault';

              @let classified =
                findingGroup.classifiers | filterArray: false : 'isDefault';

              @let findingAndClassifiers =
                unclassified?.findings | concatTwoArrays: classified;

              @let sortedFindingAndClassifiers =
                findingAndClassifiers | sortArray: 'sortOrder' : 'asc';

              @for (
                findingOrClassifier of sortedFindingAndClassifiers;
                track findingOrClassifier.id
              ) {
                @if (_isLoading) {
                  <p-skeleton
                    width="10rem"
                    height="2rem"
                    borderRadius="var(--p-button-rounded-border-radius)" />
                } @else {
                  @if (Object.hasOwn(findingOrClassifier, 'classifierId')) {
                    @let finding =
                      findingOrClassifier | castToType: findingType;

                    @if (finding.info | editorHasValue) {
                      <p-buttongroup>
                        <p-button
                          icon="pi pi-info-circle"
                          styleClass="radio-info-button"
                          pTooltip="Info"
                          tooltipPosition="bottom"
                          [tooltipOptions]="tooltipOptions"
                          [outlined]="true"
                          [rounded]="true"
                          (onClick)="onFindingInfoClick(finding)" />

                        <p-button
                          [label]="findingOrClassifier.name"
                          [rounded]="true"
                          [outlined]="true"
                          (click)="onFindingClick(finding)"
                      /></p-buttongroup>
                    } @else {
                      <p-button
                        [label]="findingOrClassifier.name"
                        [rounded]="true"
                        [outlined]="true"
                        (click)="onFindingClick(finding)" />
                    }
                  } @else {
                    @let classifier =
                      findingOrClassifier | castToType: classifierType;

                    @if (classifier.info | editorHasValue) {
                      <p-buttongroup class="radio-split-button">
                        <p-button
                          icon="pi pi-info-circle"
                          pTooltip="Info"
                          styleClass="radio-info-split-button"
                          tooltipPosition="bottom"
                          [tooltipOptions]="tooltipOptions"
                          [outlined]="true"
                          [rounded]="true"
                          (onClick)="onClassifierInfoClick(classifier)" />

                        <p-splitbutton
                          #classifierButton
                          [label]="findingOrClassifier.name"
                          [rounded]="true"
                          [outlined]="true"
                          [model]="
                            classifier
                              | classifierToMenuItems
                                : onFindingInClassifierClick
                                : this
                          "
                          (onClick)="
                            onClassifierClick($event, classifierButton)
                          " />
                      </p-buttongroup>
                    } @else {
                      <p-splitbutton
                        #classifierButton
                        [label]="findingOrClassifier.name"
                        [rounded]="true"
                        [outlined]="true"
                        [model]="
                          classifier
                            | classifierToMenuItems
                              : onFindingInClassifierClick
                              : this
                        "
                        (onClick)="
                          onClassifierClick($event, classifierButton)
                        " />
                    }
                  }
                }
              }
            </div>
          </p-accordion-content>
        </p-accordionpanel>
      }
    </p-accordion>
  } @else {
    <div class="flex flex-col gap-2 w-full items-center p-8">
      <span class="material-symbols-outlined">database_off</span>
      <span>No findings available</span>
    </div>
  }
</div>
