:host {
  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep {
    .p-orderlist-list-container {
      display: flex;
      flex-direction: column;
    }

    li:has(> .finding-active) {
      border: 1px solid var(--primary-color);
      font-weight: bold;
      color: var(--primary-color);
    }
  }
}
