<p-orderList
  [value]="findings()"
  [metaKeySelection]="true"
  [responsive]="true"
  [listStyle]="{ maxHeight: '100%' }"
  styleClass="w-full max-h-full overflow-auto"
  header="Findings"
  filterBy="name"
  filterPlaceholder="Filter by name"
  [dragdrop]="true"
  (onReorder)="onReorder()">
  <ng-template #header>
    <div class="font-semibold text-gray-500">Findings</div>
  </ng-template>

  <ng-template let-finding pTemplate="item">
    <div
      class="flex flex-row w-full"
      [ngClass]="selectedFinding()?.id === finding.id ? 'finding-active' : ''">
      <div
        class="flex items-center grow"
        pTooltip="{{ finding.name }}"
        tooltipPosition="bottom">
        {{ finding.name }}
      </div>

      <div class="flex flex-row gap-2">
        <p-button
          icon="pi pi-clone"
          pTooltip="Clone Finding"
          tooltipPosition="bottom"
          (onClick)="onClone(finding)"
          [outlined]="true" />

        <p-button
          icon="pi pi-pencil"
          pTooltip="Edit Finding"
          tooltipPosition="bottom"
          (onClick)="onEdit(finding)"
          [outlined]="true" />

        <p-button
          pTooltip="Delete Finding"
          tooltipPosition="bottom"
          icon="pi pi-trash"
          [outlined]="true"
          (onClick)="onDelete($event, finding)" />
      </div>
    </div>
  </ng-template>
</p-orderList>
