<radio-sortable-list-manager-layout>
  <ng-container actions>
    <p-button
      icon="pi pi-plus"
      pTooltip="Create Scope"
      tooltipPosition="bottom"
      [outlined]="true"
      (onClick)="onCreate()" />
  </ng-container>

  <radio-scope-manager-list
    list
    class="w-full"
    [scopes]="scopes()"
    [selectedScope]="scopeStore$.current()"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (clone)="onClone($event)"
    (reorder)="onReorder($event)"
    (changed)="onChange($event)">
  </radio-scope-manager-list>
</radio-sortable-list-manager-layout>

<p-confirmPopup />
