<div class="flex gap-2">
  <div class="flex flex-column gap-2">
    <div class="flex align-self-end gap-2">
      <p-button
        icon="pi pi-plus"
        pTooltip="Create Scope"
        tooltipPosition="bottom"
        [outlined]="true"
        (onClick)="onCreate()" />
    </div>

    <div class="flex">
      <radio-scope-manager-list
        [scopes]="scopes()"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
        (clone)="onClone($event)"
        (reorder)="onReorder($event)"
        (changed)="onChange($event)">
      </radio-scope-manager-list>
    </div>
  </div>
</div>

<p-confirmPopup />
