:host {
  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep {
    .tiptap-container {
      height: 100%;
      overflow: auto;
      background: #fff;
      border: 1px solid #e2e8f0;
    }
  }
}
