:host {
  --editor-max-height: unset;
  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep {
    .editor-input-container {
      max-height: var(--editor-max-height, 'unset');
    }
  }
}

.editor-invalid {
  border: 1px solid var(--p-red-400);
  border-radius: 0.5rem;
}
