<radio-sortable-list-manager-layout>
  <ng-container actions>
    <p-button
      icon="pi pi-plus"
      pTooltip="Create Group"
      tooltipPosition="bottom"
      [outlined]="true"
      [disabled]="groupStore$.isFetching()"
      (onClick)="onCreate()" />
  </ng-container>

  <radio-group-manager-list
    list
    class="w-full"
    [groups]="groups()"
    [isLoading]="groupStore$.isFetching()"
    [selectedGroup]="groupStore$.current()"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (reorder)="onReorder($event)"
    (changed)="onChange($event)">
  </radio-group-manager-list>
</radio-sortable-list-manager-layout>

<p-confirmPopup />
