<radio-dialog-layout>
  <div class="flex flex-col gap-4" [formGroup]="formGroup" dialog-content>
    <div class="flex flex-col gap-2">
      <label for="itemName" class="font-semibold"> Name </label>

      <input
        pInputText
        id="itemName"
        formControlName="name"
        class="flex-auto"
        autocomplete="off" />

      @let nameControl = formGroup.get('name');

      @if (nameControl?.hasError('required') && nameControl?.dirty) {
        <p-message severity="error" variant="simple" size="small">
          Name is required
        </p-message>
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="info" class="font-semibold">Info</label>

      <radio-editor id="info" formControlName="info" maxHeight="10rem">
      </radio-editor>
    </div>
  </div>
</radio-dialog-layout>

<ng-template #footer>
  <div class="flex justify-end gap-2">
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (onClick)="close()" />

    <p-button
      label="Save"
      [outlined]="true"
      [disabled]="!formGroup.valid"
      severity="primary"
      (onClick)="save()" />
  </div>
</ng-template>
