<div class="flex flex-col gap-2 w-full">
  @let isUpdateMode = mode() === ChangeModes.Update;

  <div class="flex gap-2 self-end">
    @if (isUpdateMode) {
      <p-button
        icon="pi pi-code"
        [outlined]="true"
        size="large"
        pTooltip="Variables"
        tooltipPosition="bottom"
        (onClick)="onManageVariables()" />
    }

    <p-button
      label="Cancel"
      icon="pi pi-times"
      severity="secondary"
      pTooltip="Cancel"
      tooltipPosition="bottom"
      (onClick)="onCancel()" />

    <p-button
      icon="pi pi-save"
      [label]="isUpdateMode ? 'Update Finding' : ' Create Finding'"
      [disabled]="formGroup.invalid"
      [pTooltip]="isUpdateMode ? 'Update Finding' : ' Create Finding'"
      tooltipPosition="bottom"
      (onClick)="onSave()" />
  </div>

  <p-divider />

  <div class="flex h-full min-h-0 overflow-auto">
    <div [formGroup]="formGroup" class="flex flex-col gap-4 w-full">
      <div class="flex flex-row gap-8">
        <div>
          <p-floatLabel>
            <input
              pInputText
              id="findingName"
              type="text"
              formControlName="name" />
            <label for="findingName">Name</label>
          </p-floatLabel>

          @let nameControl = formGroup.get('name');

          @if (nameControl?.hasError('required') && nameControl?.dirty) {
            <p-message severity="error" variant="simple" size="small">
              Name is required
            </p-message>
          }
        </div>

        <div class="flex gap-2 self-end">
          <label for="findingIsNormal">Is Normal</label>

          <p-toggleswitch id="findingIsNormal" formControlName="isNormal" />
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label for="findingDescription">Description</label>

        <radio-editor
          id="findingDescription"
          maxHeight="15rem"
          [suggestions]="variables()"
          (variableClick)="onVariableClick($event)"
          formControlName="description">
        </radio-editor>

        @let descriptionControl = formGroup.get('description');

        @if (
          descriptionControl?.hasError('required') && descriptionControl?.dirty
        ) {
          <p-message severity="error" variant="simple" size="small">
            Description is required
          </p-message>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label for="findingImpression">Impression</label>

        <radio-editor
          id="findingImpression"
          maxHeight="10rem"
          [suggestions]="variables()"
          (variableClick)="onVariableClick($event)"
          formControlName="impression">
        </radio-editor>
      </div>

      <div class="flex flex-col gap-2">
        <label for="findingRecommendation">Recommendation</label>

        <radio-editor
          id="findingRecommendation"
          maxHeight="10rem"
          [suggestions]="variables()"
          (variableClick)="onVariableClick($event)"
          formControlName="recommendation">
        </radio-editor>
      </div>
    </div>
  </div>
</div>

<p-popover #variableValueViewerPopover (onHide)="onVariablePopoverHide()">
  <radio-variable-values-viewer
    class="block max-w-sm"
    [isLoading]="isVariableValuesLoading()"
    [values]="variableValues()">
  </radio-variable-values-viewer>
</p-popover>
