<div class="flex w-full h-full gap-2">
  <radio-template-manager
    [templates]="templateStore$.orderedList()"
    style="width: 15%">
  </radio-template-manager>

  @let scopes = scopeStore$.orderedList();
  @let selectedTemplate = templateStore$.current();

  @if (scopes && selectedTemplate) {
    <radio-scope-manager
      [scopes]="scopes"
      [template]="selectedTemplate"
      style="width: 15%">
    </radio-scope-manager>
  }

  @let groups = groupStore$.orderedList();
  @let selectedScope = scopeStore$.current();

  @if (groups && selectedScope) {
    <radio-group-manager
      [groups]="groups"
      [scope]="selectedScope"
      style="width: 15%">
    </radio-group-manager>
  }

  @let classifiers = classifierStore$.orderedList();
  @let selectedGroup = groupStore$.current();

  @if (classifiers && selectedGroup) {
    <radio-classifier-manager
      [classifiers]="classifiers"
      [group]="selectedGroup"
      style="width: 15%">
    </radio-classifier-manager>
  }

  @let findings = findingStore$.orderedList();
  @let selectedClassifier = classifierStore$.current();

  @if (findings && selectedClassifier) {
    <radio-finding-manager
      class="w-full"
      [findings]="findings"
      [classifier]="selectedClassifier">
    </radio-finding-manager>
  }
</div>
