<div class="flex h-full gap-2">
  <radio-template-manager
    [templates]="templateStore$.orderedList()"
    style="width: 40vh">
  </radio-template-manager>

  @let scopes = scopeStore$.orderedList();
  @let selectedTemplate = templateStore$.current();

  @if (scopes && selectedTemplate) {
    <radio-scope-manager
      [scopes]="scopes"
      [template]="selectedTemplate"
      style="width: 20vh">
    </radio-scope-manager>
  }

  @let groups = groupStore$.orderedList();
  @let selectedScope = scopeStore$.current();

  @if (selectedScope) {
    <radio-group-manager
      [groups]="groups"
      [scope]="selectedScope"
      style="width: 20vh">
    </radio-group-manager>
  }

  @let findings = findings$ | ngrxPush;

  @if (findings && selectedScope) {
    <radio-finding-manager
      [findings]="findings"
      [scope]="selectedScope"
      class="flex grow shrink-0 flex-basis-auto">
    </radio-finding-manager>
  }
</div>
