<radio-dialog-layout>
  <div class="flex flex-column gap-2" [formGroup]="formGroup" dialog-content>
    <div class="flex flex-column gap-2">
      <label for="templateName" class="font-semibold"> Name </label>

      <input
        pInputText
        id="templateName"
        formControlName="name"
        class="flex-auto"
        autocomplete="off" />

      @let nameControl = formGroup.get('name');

      @if (nameControl?.hasError('required') && nameControl?.dirty) {
        <small class="p-error"> Name is required </small>
      }
    </div>

    <div>
      <label for="templateProtocol">Protocol</label>

      <radio-editor
        id="templateProtocol"
        formControlName="protocol"
        maxHeight="15rem">
      </radio-editor>

      @let protocolControl = formGroup.get('protocol');

      @if (protocolControl?.hasError('required') && protocolControl?.dirty) {
        <small class="p-error"> Description is required </small>
      }
    </div>

    <div>
      <label for="patientInfo">Patient Info</label>

      <radio-editor
        id="patientInfo"
        formControlName="patientInfo"
        maxHeight="10rem">
      </radio-editor>
    </div>
  </div>

  <ng-container dialog-actions>
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (onClick)="close()" />

    <p-button
      label="Save"
      [outlined]="true"
      [disabled]="!formGroup.valid"
      severity="primary"
      (onClick)="save()" />
  </ng-container>
</radio-dialog-layout>
