:host {
  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep {
    .p-orderlist-list-container {
      display: flex;
      flex-direction: column;
    }

    li:has(> .scope-active) {
      border: 1px solid var(--p-list-option-selected-color);
      font-weight: bold;
      color: var(--p-list-option-selected-color);
    }

    .p-orderlist-controls {
      display: none;
    }
  }
}
