<radio-dialog-layout>
  <div class="flex flex-col gap-2" [formGroup]="formGroup" dialog-content>
    <label for="template"
      >Select the Template in which the Scope will be cloned</label
    >

    <radio-template-selector
      id="template"
      formControlName="template"
      [templates]="templateStore$.orderedList()"></radio-template-selector>

    @let control = formGroup.get('template');

    @if (control?.hasError('required')) {
      <p-message severity="error" variant="simple" size="small">
        Please select a template
      </p-message>
    }
  </div>
</radio-dialog-layout>

<ng-template #footer>
  <div class="flex justify-end gap-2">
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (onClick)="close()" />

    <p-button
      label="Clone"
      [outlined]="true"
      [disabled]="!formGroup.valid"
      severity="primary"
      (onClick)="clone()" />
  </div>
</ng-template>
