.editor-button {
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;

  &.editor-button-inactive {
    background: var(--primary-color-text);
    border: 1px solid var(--surface-300);
    color: var(--surface-600);

    &:hover {
      background-color: var(--surface-hover);
    }
  }
}
