@let _selectedTemplate = selectedTemplate();

<div
  class="flex flex-col gap-4 h-full"
  [ngClass]="_selectedTemplate ? '' : 'template-center-container'">
  <div
    class="template-animation-container flex flex-col gap-4"
    [ngClass]="{
      'template-selector-centered': !_selectedTemplate,
      'template-selector-top-left': _selectedTemplate,
    }">
    @if (!_selectedTemplate) {
      <div class="title-text font-bold text-3xl leading-tight">
        <span class="text-primary-500 dark:text-primary-400">
          Select a template to continue
        </span>
      </div>
    }

    <radio-template-selector
      [size]="_selectedTemplate ? undefined : 'large'"
      floatLabelMode="on"
      [templates]="templateStore$.templates() ?? []"
      (selection)="onSelectTemplate($event)">
    </radio-template-selector>
  </div>

  @if (_selectedTemplate) {
    <div class="report-builder-content-container h-full min-h-0">
      <radio-report-builder-content
        [isLoading]="templateDataStore$.isLoading()"
        [templateData]="templateData()">
      </radio-report-builder-content>
    </div>
  }
</div>

@let _isLoading = isLoading();

<p-blockui [blocked]="_isLoading">
  @if (_isLoading) {
    <div class="flex items-center justify-center w-full h-full">
      <p-progressSpinner
        styleClass="custom-spinner"
        strokeWidth="4"
        animationDuration=".8s">
      </p-progressSpinner>
    </div>
  }
</p-blockui>
