<div class="flex gap-2">
  <div class="flex flex-column gap-2">
    <div class="flex align-self-end gap-2">
      <p-fileUpload
        #import
        mode="basic"
        pTooltip="Import Template"
        tooltipPosition="bottom"
        chooseIcon="pi pi-upload"
        url=""
        (onSelect)="onImport($event)"
        [auto]="true"
        [multiple]="false"
        accept="application/json"
        [maxFileSize]="10000000"></p-fileUpload>

      <p-button
        icon="pi pi-plus"
        pTooltip="Create Template"
        tooltipPosition="bottom"
        [outlined]="true"
        (onClick)="onCreate()" />
    </div>

    <div class="flex h-full min-h-0">
      <radio-template-manager-list
        [templates]="templates()"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
        (export)="onExport($event)"
        (changed)="onChange($event)">
      </radio-template-manager-list>
    </div>
  </div>
</div>

<p-confirmPopup />
