@let _isLoading = templateStore$.isFetching();

<radio-sortable-list-manager-layout>
  <ng-container actions>
    <p-fileUpload
      #import
      mode="basic"
      class="radio-icon-only-file-upload"
      pTooltip="Import Template"
      tooltipPosition="bottom"
      chooseIcon="pi pi-upload"
      [chooseLabel]="''"
      url=""
      (onSelect)="onImport($event)"
      [auto]="true"
      [multiple]="false"
      accept="application/json"
      [maxFileSize]="10000000"
      [disabled]="_isLoading">
    </p-fileUpload>

    <p-button
      icon="pi pi-plus"
      pTooltip="Create Template"
      tooltipPosition="bottom"
      [outlined]="true"
      [disabled]="_isLoading"
      (onClick)="onCreate()" />
  </ng-container>

  <radio-template-manager-list
    list
    class="w-full"
    [templates]="templates()"
    [isLoading]="templateStore$.isFetching()"
    [selectedTemplate]="templateStore$.current()"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (export)="onExport($event)"
    (changed)="onChange($event)"
    (reorder)="onReorder($event)">
  </radio-template-manager-list>
</radio-sortable-list-manager-layout>

<p-confirmPopup />
