/* You can add global styles to this file, and also import other style files */
// @import 'primeng/resources/themes/aura-light-blue/theme.css';
// @import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';      
@import 'material-icons/iconfont/material-icons.css';

html {
  font-family: "'Inter var'", sans-serif;
  font-weight: normal;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

html > body {
  padding: var(--radio-default-padding, 0.5rem);
  flex: auto;
  flex-direction: column;
}

.flex-basis-auto {
  flex-basis: auto;
}
