@let _isLoading = isLoading();

<p-listbox
  emptyMessage="No scopes available"
  [options]="_isLoading ? mockScopes : scopeList()"
  optionLabel="name"
  [(ngModel)]="selectedScope"
  [listStyle]="{ maxHeight: '100%' }"
  [metaKeySelection]="false"
  styleClass="w-full max-h-full"
  (onChange)="onChange($event)">
  <ng-template #header>
    <div class="font-semibold text-gray-500">Scopes</div>
  </ng-template>

  <ng-template #item let-scope>
    @if (_isLoading) {
      <div class="flex flex-row gap-2 w-full items-center">
        <div class="flex-1">
          <p-skeleton width="100%" height="2rem"></p-skeleton>
        </div>
      </div>
    } @else {
      <div class="flex flex-row gap-2 w-full items-center">
        <div
          class="w-full text-ellipsis overflow-hidden whitespace-nowrap"
          [pTooltip]="scope.name"
          tooltipPosition="bottom"
          [tooltipOptions]="tooltipOptions">
          {{ scope.name }}
        </div>

        <div class="flex flex-row gap-2">
          <p-button
            icon="pi pi-check-circle"
            severity="success"
            pTooltip="Normal"
            tooltipPosition="bottom"
            [tooltipOptions]="tooltipOptions"
            [text]="true"
            (onClick)="onNormal($event, scope)" />
        </div>
      </div>
    }
  </ng-template>
</p-listbox>
